<?xml version="1.0"?>
<model>
  <name>ROS Controlled track</name>
  <version>1.0</version>
  <sdf version='1.2'>track.sdf</sdf>
  <sdf version='1.3'>track.sdf</sdf>
  <sdf version='1.4'>track.sdf</sdf>

  <author>
   <name>nckmlb</name>
   <email>nckmlb@gmail.com</email>
  </author>

  <description>
    This is the SDF version of the track model created at UNM!
  </description>
</model>
